---
title: "Young Infolife"
layout: splash
header:
  overlay_filter: "0.1"
  overlay_image: /assets/images/cellulaPC.png
  actions:
excerpt: ""
feature_rowDescription:
  - title: "Gruppo giovani Infolife"
    excerpt: "Il laboratorio nazionale InfoLife del CINI (Consorzio Interuniversitario Nazionale di Informatica) promuove iniziative di networking tra ricercatori di formazione informatica che conducono ricerche rilevanti in bioinformatica e tematiche correlate, insieme ai loro partner internazionali."
    image_path: /assets/images/LogoYoungInfolife.png
    alt: "placeholder YoungInfolife" 
---

{% include feature_row id="feature_rowDescription" type="left" %}
{% include feature_row %}
